<h2>App Events</h2>
<p>Note: Every time the app becomes active, the module logs an app activation event automatically.</p>
<h3>Functions</h3>
<h4>logEvent (<em>String eventName</em>)</h4>
<p>Log custom App Event of given <code>eventName</code>.</p>
<h4>logPurchase (<em>long amount, String currency</em>)</h4>
<p>Log purchase of <code>amount</code> in <code>currency</code></p>