<h2>Login with Facebook</h2>
<p>The Facebook SDK and thus the Facebook module reads its configuration settings from the tiapp.xml file. In the <em>iOS</em> section, add:</p>
<p><code>&lt;ios&gt;
        &lt;plist&gt;
            &lt;dict&gt;
                &lt;key&gt;CFBundleURLTypes&lt;/key&gt;
                &lt;array&gt;
                    &lt;dict&gt;
                        &lt;key&gt;CFBundleURLName&lt;/key&gt;
                        &lt;string&gt;[Ti appId (com.domain.app)]&lt;/string&gt;
                        &lt;key&gt;CFBundleURLSchemes&lt;/key&gt;
                        &lt;array&gt;
                            &lt;string&gt;fb[FB appId]&lt;/string&gt;
                            &lt;string&gt;fb[FB appId][suffix]&lt;/string&gt;
                        &lt;/array&gt;
                    &lt;/dict&gt;
                &lt;/array&gt;
                &lt;key&gt;FacebookAppID&lt;/key&gt;
                &lt;string&gt;[FB appId]&lt;/string&gt;
                &lt;key&gt;FacebookDisplayName&lt;/key&gt;
                &lt;string&gt;[FB appName]]&lt;/string&gt;
                &lt;key&gt;FacebookUrlSchemeSuffix&lt;/key&gt;
                &lt;string&gt;[suffix]&lt;/string&gt;
            &lt;/dict&gt;
        &lt;/plist&gt;
    &lt;/ios&gt;</code></p>
<h3>Properties</h3>
<h4>uid (string)</h4>
<p>The user id of the loggedin Facebook user</p>
<h4>isLoggedIn (bool)</h4>
<p>Boolean whether the user is loggedin and authorized</p>
<h4>canShare (bool)</h4>
<p>Boolean whether the user can share content via the Share Dialog</p>
<h4>permissions (array)</h4>
<p>An array containing the granted permissions</p>
<h4>accessTokenData (object)</h4>
<p>Object containing the access token data:
<em> accessToken
</em> permissions
<em> declinedPermissions
</em> expirationDate
<em> refreshDate
</em> permissionsRefreshDate
<em> appID
</em> userID</p>
<h3>Functions</h3>
<h4>authorize(Array permissions, function callback)</h4>
<p>To login with facebook call the <code>authorize</code> function with an array of the (read) permission you'd like to request and a callback function to be called upon completion.</p>
<p>The callback function will receive the following arguments:</p>
<ul>
<li>success (bool)</li>
<li>cancelled (bool)</li>
<li>error (object)</li>
<li>accessTokenData (object)</li>
</ul>
<h4>logout()</h4>
<p>Logs out the authorized Facebook user</p>
<h4>requestNewPublishPermissions(Array permissions, int audience, function callback)</h4>
<p>Request publish (write) permissions from Facebook.</p>
<p>Audience is one of the following:
<em> facebook.audienceNone
</em> facebook.audienceOnlyMe
<em> facebook.audienceFriends
</em> facebook.audienceEveryone</p>
<h4>requestNewReadPermissions(Array permissions, function callback)</h4>
<p>Request extra read permissions from Facebook</p>
<h3>Events</h3>
<h4>login</h4>
<p>Fired when a Facebook session is opened. I.e. a valid Facebook login. Has the following event details (similar to the <code>authenticate</code> callback):</p>
<ul>
<li>success (bool)</li>
<li>cancelled (bool)</li>
<li>error (object)</li>
<li>accessTokenData (object)</li>
</ul>
<h4>logout</h4>
<p>Fired when the Facebook session is closed. Does not have any event details</p>