<h3>Login button</h3>
<p>The Facebook SDK for iOS provides prebuilt UI components that you can use to log people in and out of your app. In order to authenticate the user, these controls make a call to the user's Facebook app or will fall back to using a web dialog if the user does not have a Facebook app installed. (More info: https://developers.facebook.com/docs/facebook-login/ios/v2.1)</p>
<p>You can easily create a login button by calling:</p>
<p><code>var facebook = require('rebel.facebook');
    facebook.createLoginButton({
        readPermission: ['public_profile', 'email'],
        width: 280,
        height: 50
    });</code></p>
<p><code>readPermissions</code> can also be set afterwards.</p>
<p>Clicking on the Login button will start the login process and will be handled the same way as described in <a href="authentication.md">Login with Facebook</a>. Just listen to the login event:</p>
<p>```
    function onLogin(evt) {
        // Do something on login
    }</p>
<pre><code>facebook.addEventListener('login', onLogin);
</code></pre>
<p>```</p>
<h4>Properties</h4>
<ul>
<li><code>readPermission</code>: The read permission to request from Facebook</li>
<li><code>publishPermissions</code> The publish permission to request from Facebook</li>
<li><code>defaultAudience</code> The default audience when posting to Facebook. Possible values are: <code>facebook.audienceNone</code>, <code>facebook.audienceOnlyMe</code>, <code>facebook.audienceFriends</code> or <code>facebook.audienceEveryone</code>.</li>
</ul>
<h3>Like button</h3>
<p>The Like button is the quickest way for people to share content with their friends. A single click on the Like button will 'like' pieces of content from your app and share them on Facebook.</p>
<p>The Like button can be used to like a Facebook Page or any Open Graph object and can be referenced by URL or ID.</p>
<p>More info: https://developers.facebook.com/docs/ios/like-button</p>
<p>You can easily create a like button by calling:</p>
<p>```
    var facebook = require('rebel.facebook');
    var button = facebook.createLikeButton({
        objectID: 'https://github.com/timanrebel/Facebook',
        width: 280,
        height: 50
    });</p>
<pre><code>win.add(button);
</code></pre>
<p>```</p>
<h4>Properties</h4>
<ul>
<li><code>objectID</code>: The url or ID to like on Facebook</li>
<li><code>color</code>: Sets the color of the text.</li>
<li><code>style</code>: Specify the type of button you want. Possible values: <code>standard</code>, <code>button</code>, <code>boxCount</code>. Default: <code>standard</code></li>
<li><code>align</code>: The text alignment of the social sentence. Possible values: <code>left</code>, <code>center</code>, <code>left</code>. Default: <code>left</code></li>
<li><code>auxiliaryPosition</code>: The position for the auxiliary view for the receiver. (the like count). Possible values: <code>top</code>, <code>inline</code>, <code>bottom</code>. Default: <code>inline</code></li>
<li><code>soundEnabled</code>: If <code>true</code>, a sound is played when the receiver is toggled. Default: <code>true</code></li>
</ul>
<h2>Dialogs</h2>
<h3>Share Dialog</h3>
<p>The Share dialog works by making a one-line call to the SDK that configures the content to share, does an app switch to the native Facebook for iOS app, and returns to your app once people have shared. The Share Dialog requires that the user has the native Facebook for iOS app installed on their device.</p>
<h4>void shareStatus(Object args)</h4>
<h4>void shareLink(Object args)</h4>
<h4>void shareOpenGraphAction(Object args)</h4>
<h3>Messenger Dialog</h3>
<p>Share via Facebook Messenger</p>
<h4>bool canMessage()</h4>
<p>Returns true when the app can share links or Open Graph actions via Facebook Messenger</p>
<h4>void messageLink(Object args)</h4>
<ul>
<li><code>url</code> URL of the link to share</li>
<li><code>title</code></li>
<li><code>caption</code></li>
<li><code>picture</code> URL of the image to add to the link</li>
</ul>
<p>Share a link via Facebook Messenger.</p>