<h1>Facebook Module</h1>
<p>The goal of this module is to support as much as possible of the latest Facebook SDK (for iOS).</p>
<h2>Quick Start</h2>
<h3>Get it <a href="http://gitt.io/component/rebel.facebook"><img alt="gitTio" src="http://gitt.io/badge.png" /></a></h3>
<p>Download the latest zip file from <a href="https://github.com/timanrebel/Facebook/releases">Releases</a> and consult the <a href="http://docs.appcelerator.com/titanium/latest/#!/guide/Using_a_Module">Titanium Documentation</a> on how install it, or simply use the <a href="http://gitt.io/cli">gitTio CLI</a>:</p>
<p><code>$ gittio install rebel.facebook</code></p>
<h2>Accessing the Facebook Module</h2>
<p>To access this module from JavaScript, you would do the following:</p>
<p><code>var facebook = require('rebel.facebook');</code></p>
<p>The facebook variable is a reference to the Module object.</p>
<h2>Reference</h2>
<p>The documentation is split up in the following sections:</p>
<ul>
<li><a href="authentication.md">Login with Facebook</a></li>
<li><a href="dialogs.md">Dialogs and UI controls</a></li>
<li><a href="appEvents.md">App Events</a></li>
<li><a href="graphApi.md">Graph API</a></li>
</ul>
<h2>Changelog</h2>
<ul>
<li><a href="https://github.com/timanrebel/Facebook/releases/tag/1.0.9">1.0.9</a> Upgraded Facebook SDK to 3.20, to support the new Graph API 2.2</li>
<li><a href="https://github.com/timanrebel/Facebook/releases/tag/1.0.8">1.0.8</a> Prevented FB Framework to be added to the final app, increasing size by 26mb. Also added <code>messageLink</code> function to send a link via Messenger.</li>
<li><a href="https://github.com/timanrebel/Facebook/releases/tag/1.0.7">1.0.7</a> Added some missing properties to the Like button</li>
<li><a href="https://github.com/timanrebel/Facebook/releases/tag/1.0.6">1.0.6</a> Added support for the new native Like button</li>
<li><a href="https://github.com/timanrebel/Facebook/releases/tag/1.0.5">1.0.5</a> Fixed minor issue with applicationDidBecameActive not being fired and session tokens might not correctly renew because of that. Also the app event was not logged.</li>
<li><a href="https://github.com/timanrebel/Facebook/releases/tag/1.0.4">1.0.4</a> Added support for Login button, rewrote internal structure and re-added login/logout events</li>
<li><a href="https://github.com/timanrebel/Facebook/releases/tag/1.0.2">1.0.2</a> Support for first Graph API call and Share Dialog</li>
<li><a href="https://github.com/timanrebel/Facebook/releases/tag/1.0.1">1.0.1</a> Support for App Events</li>
<li><a href="https://github.com/timanrebel/Facebook/releases/tag/1.0.0">1.0.0</a> Initial working version with only Facebook login</li>
</ul>
<h2>Author</h2>
<p>Timan Rebel</p>
<h2>License</h2>
<p>The MIT License (MIT)</p>
<p>Copyright (c) 2014 Timan Rebel</p>
<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>
<p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.</p>
<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>